<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304816419696-cr64jl529j17j6ja9e3v6gvl40a05gd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304816419696-cr64jl529j17j6ja9e3v6gvl40a05gd1</string>
	<key>API_KEY</key>
	<string>AIzaSyC4k6NAI81U4EbqaNlIQfxxEdMGEcKrxeE</string>
	<key>GCM_SENDER_ID</key>
	<string>304816419696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.envSwitchDemo</string>
	<key>PROJECT_ID</key>
	<string>env-switch-app</string>
	<key>STORAGE_BUCKET</key>
	<string>env-switch-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304816419696:ios:24e44386f8e7ed000095b5</string>
</dict>
</plist>