<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>742198149538-a4thpr8qlm17jeaoelr33ec0g0f2qn0b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.742198149538-a4thpr8qlm17jeaoelr33ec0g0f2qn0b</string>
	<key>API_KEY</key>
	<string>AIzaSyBOMbFZqzyAvo18L8vhOw6P0APkFIif2Nc</string>
	<key>GCM_SENDER_ID</key>
	<string>742198149538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.envSwitchDemo.stg</string>
	<key>PROJECT_ID</key>
	<string>env-switch-app-stg</string>
	<key>STORAGE_BUCKET</key>
	<string>env-switch-app-stg.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:742198149538:ios:18f4d745d5b3274e4332fb</string>
</dict>
</plist>